<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/oladhari"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/oussama-ladhari/"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.facebook.com/oussama.ladhari.9"><i class="fab fa-facebook"></i></a>
  </div>
</div>
